header{
    background-color: var(--dark-color);
    color: white;
    padding: .7rem 0;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

header h1{
    font-size: 1.1rem;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: .7px;
    place-self: end;
    color: var(--primary-color);
}

header img{
    width: auto;
    height: 45px;
}

/* Media query to avoid overwrite */
@media screen and (max-width: 768px) {
    header h1{
        font-size: 1.3rem;
    }
    header{
        padding-left: 6rem;
    }
}