.messageContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 90vh;
    background-color: var(--dark-color);
    width: 450px;
    max-width: 90%;
    height: fit-content;
    color: white;
    border-radius: 5px;
    margin: 25vh auto;
    padding: 0 0;
}

.countdownContainer{
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: left;
    margin-bottom: 2px;
    padding: 10px 10px;
    width: 100%;
    background-color: var(--light-color)
}

.countdownTitle{
    font-size: .8rem;
    letter-spacing: .2rem;
    margin: 0;
    padding: 0;
    text-align: left;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    color: var(--dark-color);
}

.countdown {
    font-size: .8rem;
    letter-spacing: .2rem;
    margin: 0;
    padding: 0;
    text-align: left;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    color: var(--dark-color);
}

.textBox{
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    font-size: 1rem;
    font-weight: 200;
    margin-bottom: 5px;
    font-family: 'Roboto', sans-serif;
    padding: 10px 10px;
}

.messageTitle{
    font-size: 1.5rem;
    font-weight: 200;
    margin-bottom: 5px;
    text-align: left;
    font-family: 'Roboto', sans-serif;
    padding-bottom: 10px;
}

.messageTitle span{
    font-weight: 600;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
}

.message{
    font-size: 1rem;
    font-weight: 200;
    text-align: left;
    color: white;
}

.message a{
    color: white;
    text-decoration: none;
    font-size: 1rem;
}

.message a:hover{
    text-decoration: underline;
}